.header-container {
    /* padding: 0 14%; */
}
.header-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 14%;
    background-color: #03A9F4;
    color: #fff;
}
.footer-main {
    display: flex;
    column-gap: 50px;
    padding: 40px 14%;
}
.footer-main img {
    height: 400px;
}
.footer-main-text  {
    text-align: left;
}
.price-section {
    background-color: #F9F9F9;
    padding: 50px 10%;
}
.home-container98 {
    background-color: #fff;
    padding: 50px;
}
.home-price {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

@media only screen and (min-width : 481px) and (max-width: 768px) {
    .footer-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
}

@media only screen and (min-width : 0px) and (max-width: 480px) {
    .footer-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        padding: 40px 5%;
    }
    .footer-main img {
        height: 200px;
    }
    .home-price {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}