.home-banner {
    background-color: #6E95F3;
}
.slider {
    width: 300px;
}
.banner2 {
    width: 400px;
    margin-top: -520px;
    margin-left: 50%;
}
.banner-text2 {
    margin-top: -400px;
}

@media only screen and (min-width : 481px) and (max-width: 768px) {
    .banner2 {
        width: 250px;
        margin-top: -320px;
        margin-left: 50%;
    }
}
@media only screen and (min-width : 0px) and (max-width: 480px) {
    .banner2 {
        width: 150px;
        margin-top: -200px;
        margin-left: 30%;
    }
}